<section id="footer" >
  <article id="datos"> 
      <h2>Direcciones</h2> 
      <br>
      ELYTESOFT, S.A. DE C.V.
      <br>
      21 Avenida Norte # 243, Contiguo a Edificio Eriksson, San Salvador
  </article>
  <article id="map">
      <h2>NetHotel</h2>
      <br>
      Mapa del Sitio Web
      <br>
      Mapa de las Instalaciones
      <br>
      Preguntas Frecuentes
  </article>
  <article id="social">
      <h2>Redes Sociales</h2>
      Facebook
      <br>
      Instagram
      <br>
      Twitter
  </article>
  <article id="logos">
      <img src="/src/assets/icono_gris.png" alt="ELYTESOFT">
      <img src="/src/assets/magic.png" alt="Magic XPA">
  </article>

      
</section>